@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans&display=swap');
body {
    overflow-x: hidden;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: -apple-system, 'Arial', 'Helvetica';
    font-family: 'Segoe UI';
}

.brand-logo {
    left: 43% !important;
    font-size: 16px !important;
    line-height: 53px;
    top: 1px;
}

.nav-mahonathi i {
    font-size: 15px;
}

.banner-content {
    padding: 10px 0px;
}

.nav-mahonathi {
    background: #fff;
    height: 45px;
    line-height: 45px;
    box-shadow: none;
}

.nav-mahonathi i {
    color: black;
    height: 45px !important;
    line-height: 45px !important;
}

.btn-search {
    float: right;
    margin-right: 25px;
    font-size: 13px !important;
    cursor: pointer;
}

.btn-search-close {
    float: right;
    margin-right: 15px;
    font-size: 13px !important;
}

.input-search {
    width: 60% !important;
    position: absolute;
    left: 27%;
    border-color: #ececec !important;
    height: 30px !important;
    top: 7px;
    padding: 0px 5px !important;
    font-size: 13px !important;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.slider-menu {
    width: 100%;
    overflow-x: auto;
}

.ul-menu {
    margin: 0px 18px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-x: scroll;
    display: ruby-text;
    padding: 10px;
}

.slider-menu li {
    display: inline-block;
    padding-right: 14px;
    color: black;
}

.ul-menu a {
    color: gray;
    margin: 10px 0px;
}

.ul-menu a:hover {
    color: green;
    cursor: pointer;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.rr-gallery img {
    border-radius: 7px;
}

.banner-content h6 {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    line-height: 35px;
}

.banner-content p {
    font-size: 15px;
    margin: 0;
    padding-top: 6px;
}

.para-cont p {
    margin: 0;
    font-size: medium;
    font-weight: 600;
    color: #595959 !important;
}

.sec-list {
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 13px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    z-index: 999999999999999;
}

.img-pa img {
    border-radius: 6px;
}

.spr-news {
    margin-bottom: 5%;
}

.footer-bb p {
    margin: 0;
    font-size: 11px;
    color: black;
}

.footer-bb p:hover {
    color: green;
}

.footer-bb i {
    color: gray;
}

.footer-bb li {
    display: inline-block;
    text-align: center;
    margin: 0px 16px;
}

.footer-bb i:hover {
    color: green;
}

.footer-bb li:hover {
    color: green;
}


/* .rr-gallery img {
    width: 265px;
} */

.video-pass {
    margin: 5px 13px;
    z-index: -1;
}

.rr-gallery p {
    font-weight: 600;
    line-height: 25px;
    padding: 5px 0px;
    margin: 0;
}

.rr-gallery cite {
    font-weight: 600;
}

.title-tra {
    padding: 5px 13px;
}

.title-tra h6 {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin: 0;
    margin-bottom: 15px;
}

.rr-gallery p {
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
}

.title-tra p {
    font-size: 15px;
    margin: 0;
    padding: 5px 0px;
    color: black;
    line-height: 25px;
}

.padd-top {
    padding-top: 20px;
}

.m0 {
    margin: 0px;
}

.line-end {
    padding: 0px 13px 13px;
    border-bottom: 1px solid #e3e3e3;
}

.line-end a {
    font-size: 12px;
    color: white;
    font-weight: 700;
    background: black;
    padding: 5px 15px;
    display: inline-block
}

.line-end a:hover {
    background: green;
}

.line-end p {
    text-align: right;
    margin: 0;
    padding: 10px 2px;
    cursor: pointer;
}

.spr-ne h5 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 0px;
    /* padding-bottom: 15px; */
    /* border-bottom: 2px solid #000; */
    margin-bottom: 20px;
    color: white;
    width: 50%;
    padding: 11px;
    background: #fe0000;
    text-align: center;
    letter-spacing: 1px;
}

.tabs-menu a {
    color: black !important;
    font-size: 14px !important;
    font-weight: 600;
}

.tabs.tabs-transparent .indicator {
    background-color: #b30000 !important;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: rgba(255, 255, 255, 0.2) !important;
    outline: none;
}

.btn-search-close {
    display: none;
}

.input-search {
    display: none;
}

.img-logo {
    width: 75%;
    padding-top: 7px;
}

.tabs-menu .tab {
    line-height: 25px !important;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 99999999999999999999999999;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}

.slider-mm {
    background: white;
}

.sec-tt {
    padding: 10px 0px;
}

.tabs-menu li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}


/* .tabs-menu {
    height: 35px;
} */

.tabs-menu {
    height: 56px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    white-space: nowrap;
}

.bt {
    border: none;
    outline: none;
    padding: 9px 0px;
    cursor: pointer;
}

.active,
.bt:hover {
    border-bottom: 2px solid green;
}

.para-cont p:hover {
    color: gray;
}


/* inner detail page */

.Share-detail sup {
    color: green;
    padding-left: 3px;
}

.Share-detail {
    float: right;
    margin-right: 13px;
}

.Share-detail li {
    margin-right: 12px;
}

.Share-detail i {
    color: #626262;
    font-size: 15px;
}

.tab-head {
    box-shadow: 0px 0px 7px 0px #c8c8c8;
}

.sub-para {
    font-size: 10px;
    margin: 0;
    padding: 5px 0px;
}

.title-track-banner h5 {
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    font-weight: 700;
    margin: 0;
    padding: 5px 0px;
}

.sub-para1 {
    font-size: 13px;
    padding: 5px 0px;
    line-height: 20px;
    margin: 0px;
}

.sub-para1 i {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 1px;
}

.p-para h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

.p-para p {
    margin: 0;
    padding: 5px 0px;
    text-align: justify;
    font-size: 14px;
    line-height: 24px;
    color: black;
    font-weight: 500
}

.p-para {
    margin-bottom: 3%;
}


/* 
.timeline-Widget {
    overflow-x: auto;
    height: 300px;
    margin: 20px;
    width: 75%;
} */

.sponser {
    padding: 10px;
    margin-bottom: 20%;
}

.sponser-detail h5 {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding: 5px 0px;
    line-height: 24px;
}

.sponser-detail p {
    font-size: 12px;
    line-height: 22px;
    margin: 0;
    padding: 6px 0px;
}

*,
 ::before,
 ::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Segoe UI';
}

html {
    font-size: 14px;
}

html {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

.tab-head span {
    font-size: 15px;
    color: black;
    padding-left: 15px;
}

.para-par {
    /* display: none; */
}

.rr-gal {
    height: 158px;
    overflow: hidden;
    z-index: 99999999;
}

.video-pass {
    z-index: 999999;
}

.img-i {
    height: 72px;
    overflow: hidden;
}

.error-banner h1 {
    color: #ffffff;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 7px;
}

.error-banner {
    background: #f44336;
    padding: 14px 18px;
    margin-bottom: 30px;
    text-align: center;
}

.error-banner p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 3px;
}

.p-para strong {
    font-size: 15px;
    font-weight: 700;
    line-height: 0;
}

.p-para h3 {
    line-height: 20px;
}


/* 20/20 home */

.img-res {
    width: 110px;
    height: 82px;
}

.ll-dm {
    background: green;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 25px;
    position: absolute;
    top: -45px;
    left: 245px;
    font-size: 13px;
}

.rr-dm {
    background: green;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 25px;
    position: absolute;
    top: -45px;
    left: 279px;
    font-size: 13px
}

.photo-ll-dm {
    background: green;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 25px;
    position: absolute;
    top: -45px;
    left: 245px;
    font-size: 13px;
}

.photo-rr-dm {
    background: green;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 25px;
    position: absolute;
    top: -45px;
    left: 279px;
    font-size: 13px
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 13px;
    height: 13px;
    padding: 5px;
    cursor: pointer;
    color: #000;
    border: 1px solid #fff;
    outline: none;
    background: #f2f2f2;
    margin-right: 7px;
    margin-left: 7px;
}

.slick-dots {
    margin: 0;
    padding-bottom: 20px;
}

.video-pass li {
    display: inline-block;
}

.slick-active button {
    background: #c62828 !important;
}

.video-pass.slick-arrow {
    position: relative;
}

.sub-title {
    float: right !important;
}

.sbscrib {
    position: relative;
    left: 5px;
    top: -3px;
}

.go-top.active {
    top: 98%;
    -webkit-transform: translateY(-98%);
    transform: translateY(-98%);
    opacity: 1;
    visibility: visible;
    z-index: 9999999999;
}

.go-top {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 45%;
    background-color: #fff;
    z-index: 4;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .9s;
    transition: .9s;
    border-radius: 30px;
    border: 1px solid #e6e6e6;
}

.go-top:hover i:last-child {
    opacity: 1;
    visibility: visible;
    top: 50%;
}

.go-top.active {
    top: 85%;
    -webkit-transform: translateY(-98%);
    transform: translateY(-98%);
    opacity: 1;
    visibility: visible;
}

.go-top:hover {
    color: #ffffff;
    background-color: #424866;
}

.height-li {
    padding-bottom: 27%;
}

.photo-pass {
    margin: 5px 13px;
    z-index: -1;
}

.photo-pass {
    z-index: 999999;
}

.photo-gal {
    height: 160px;
    overflow: hidden;
    z-index: 99999999;
}

.img-add {
    padding: 10px 0px 0px 0px;
}

.img-add img {
    width: 70%;
}

.featured-vie h5 {
    font-size: 13px;
    background: green;
    padding: 10px 25px;
    color: white;
    border-radius: 4px;
    width: 50%;
}

.dis-video h1 {
    font-size: 15px;
    color: black;
    margin: 0;
    padding: 11px 1px;
    font-weight: 600;
}

.dis-video {
    background: #fff;
    padding: 5px;
    margin-bottom: 16px;
    position: relative;
    box-shadow: 0px 1px 3px 0px #ddd;
    border-radius: 8px;
}

.post-div i {
    color: #ec0000;
    top: 20px;
    position: absolute;
    left: 5%;
    border: 3px solid #cacaca;
    padding: 10px;
    border-radius: 30px;
    font-size: 8px;
    background: white;
}


/* 
.post-div {
    position: relative;
} */


/* 
.video-fet {
    overflow-x: auto;
    height: 300px;} */

.video-img img {
    width: 100%;
}

.video-img {
    overflow: hidden;
    height: 155px;
}

.iframe-he {
    width: 100%;
    height: 250px;
}

.video-detial-mobile h6 {
    font-size: 17px;
    line-height: 30px;
    font-weight: 600;
}

.share-box li {
    display: inline-block;
    color: #666666;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 8px;
    margin-bottom: 2px;
}

.share-box span {
    padding-left: 12px;
    color: black;
}

.fb {
    background: #0082f4;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 11px;
    font-size: 10px;
}

.tw {
    background: #2696f9;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 11px;
    font-size: 10px;
}

.li {
    background: #0b6bbf;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 11px;
    font-size: 10px;
}

.sha {
    color: black;
}

.video-detial-mobile p {
    color: #4a4a4a;
    text-align: justify;
    line-height: 25px;
}

.video-detial-mobile {
    margin-bottom: 10%;
}

.img-pic p {
    margin: 0;
    color: black;
}

.img-pic {
    padding-bottom: 10px;
}

.video-pp {
    border: 1px solid #b5b4b4;
    padding: 10px;
}

.video-pp span {
    color: black;
    position: relative !important;
    left: 0px;
    top: 0px;
}


/* new-25/01/2019 */

.line-bor {
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 15px;
}

.p-para li {
    list-style: circle !important;
    font-size: 14px;
    line-height: 24px;
    color: black;
    font-weight: 500
}

.p-para ul {
    padding-left: 14px !important;
}


/* 27/01/2020 */

.feature-box {
    background: white;
    padding: 25px 1px;
    box-shadow: 0px 0px 4px 0px #cacaca;
    margin-top: 7px;
}


/* body {
    background: #e6e6e6;
} */

.sec-fe {
    background: white;
}

.m0 {
    margin: 0;
}

.para-par {
    font-size: 14px !important;
    color: gray;
    overflow: hidden;
    display: block;
    height: 43px;
    text-overflow: ellipsis;
    white-space: pre-line;
    width: 100%;
}

.add-images {
    text-align: center;
}

.title-tra i {
    color: green;
    padding-right: 3px;
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.blink {
    text-decoration: blink;
    animation-name: blinker;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.post-gallery {
    position: relative;
}

.photo-pass {
    z-index: 0;
}

.video-pass {
    z-index: 0;
}

.detail-cont img {
    width: 100%;
}

.container-fluide {
    max-width: 98%;
    margin: auto;
}

@media(min-width:680px) and (max-width:991px) {
    .tabs-menu li {
        display: inline-block;
        margin-left: 45px;
        text-align: center;
    }
    .para-par {
        font-size: 13px !important;
        font-weight: 400 !important;
        color: #555;
        display: block;
    }
    .footer-bb li {
        display: inline-block;
        text-align: center;
        margin: 0px 47px;
    }
}

.spr-pp h5 {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    /* border-bottom: 2px solid #000; */
    margin-bottom: 20px;
    color: white;
    width: 48%;
    padding: 10px;
    background: green;
    text-align: center;
    letter-spacing: 1px;
}


/* slider */